header {
  padding: 0em 2em 0em 2em;
  display: flex;
  justify-content: space-between;
  border-bottom: solid white thin;
  align-items: center;
  background-color: rgb(55, 145, 139);
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  background-color: rgb(31, 81, 78);
}

h1 {
  margin-left: 2em;
  margin-bottom: 0;
  color: white;
  font-size: 3em;
  font-family: 'Barrio', cursive;
}

.genre {
  color: white;
  margin: 0;
}

p {
  font-family: 'Nunito', sans-serif;
}

.category-container {
  justify-content: space-between;
  margin-right: 3.5em;
}

.btn {
  margin: .5em;
  color: white;
  border-color: white;
}

.btn:hover {
  background-color: rgb(234, 129, 49);
  border-color: white;
  color: white;
}

.fixed-header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 99;
}
