header {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  border-bottom: solid grey thin;
  align-items: center;
}

h1 {
  margin-left: 1em;
  margin-bottom: 0;
}

.category-container {
  justify-content: space-between;
}

.btn {
  margin: 1em;
}
