header {
  padding: 0em 2em 0em 2em;
  display: flex;
  justify-content: space-between;
  border-bottom: solid white thin;
  align-items: center;
  background-color: rgba(5, 2, 144);
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  margin-left: 2em;
  margin-bottom: 0;
  font-family: 'Monoton', cursive;
  color: white;
}

.genre {
  color: white;
  margin: 0;
}



.category-container {
  justify-content: space-between;
  margin-right: 3.5em;
}

.btn {
  margin: .5em;
}

.fixed-header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 99;
}
