#card-title {
  font-size: 1.2em;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(31, 81, 78);
  color: white;
}

.card {
  margin: 1.5em;
  background-color: rgb(31, 81, 78);
  border: none;
}

.card-img-top {
  width: 150px;
  height: 100px;
}


.card:hover > #card-title {
  color: rgb(234, 129, 49);
}


@media only screen and (max-width: 745px) {
  .card { margin: 1em; }
  .card-img-top { width: 100px; height: 75px; }
}
