.list-container {
  padding: 4.3em 10em 0em 10em;
  margin: 0;
  justify-content: center;
  border-bottom: thin solid grey;
}

a {
  margin: 1em;
  color: white;
}

a:hover {
  color: rgb(234, 129, 49);
}
