#main-container {
  margin: 5em 8em 5em 8em;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
}

a {
  margin: 0;
  color: rgb(234, 129, 49);
  font-style: underline;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-container h3 {
  padding-top: .5em;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  #main-container {
    margin: 5em 2em 5em 2em;
  }
}
