.media-collection {
  padding: 4.5em 10em 0em 10em;
  background-color: rgb(31, 81, 78);
}

.sidenav {
  display: flex;
  flex-direction: column;
  margin: 0em 0em 2em 0em;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 4.5em;
  right: 0;
  overflow-x: hidden;
  padding-top: 1em;
  flex-wrap: wrap;
  background-color: rgb(255, 235, 183);
  border: thin solid grey;
}

.sidenav a {
    padding: 8em 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: orange;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: .25em;
    font-size: 1.5em;
}

a.closebtn {
  margin: 0;
  padding: 0;
}

.list {
  padding: .5em;
}

#submit-btn {
  width: 100%;
  background-color: rgb(255, 235, 183);
}

#submit-btn:hover {
  background-color: rgb(234, 129, 49)
}

h4, h5, .winner-img {
  display: flex;
  justify-content: center;
}

#winner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

@media only screen and (max-width: 800px) {
  .media-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5em 6em 0em 6em;
  }
}
