
p {
  font-size: .9em;
  margin: 0;
}

.title {
  padding-top: .5em;
  grid-area: title;
  display: flex;
  justify-content: left;
  font-family: 'Nunito', sans-serif;
}

.image {
  display: flex;
  grid-area: image;
  justify-content: center;
  float: left;
  object-fit: cover;
  padding-right: 1em;

}

.col-one {
  grid-area: one;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.col-two {
  grid-area: two;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
 }

.plot {
  grid-area: plot;
 }

.grid-container {
  display: grid;
  padding: 1em;
  border-bottom: thin solid grey;
  grid-template-areas:
    'image title title'
    'image one two'
    'image plot plot';
  grid-gap: 5px;
  flex-wrap: wrap;
  background-color: white;
  height: auto;
}
