
p {
  font-size: .9em;
  margin: 0;
}

.title {
  padding-top: .5em;
  grid-area: title;
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
}

.image {
  display: flex;
  grid-area: image;
  justify-content: center;
  float: left;
  object-fit: cover;
  padding-right: 1em;

}

.col-one {
  grid-area: one;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.col-two {
  grid-area: two;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
 }

.plot {
  grid-area: plot;
 }

#drp-down {
  height: 1.5em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: black;
  font-size: 1.5em;
  color: rgb(234, 129, 49);
}

#drp-down:hover {
  background-color: white;
}

.grid-container {
  display: grid;
  padding: 1em;
  border-bottom: thin solid grey;
  grid-template-areas:
    'image title title'
    'image one two'
    'image plot plot';
  grid-gap: 5px;
  flex-wrap: wrap;
  background-color: white;
  height: auto;
}

p#drp-down.btn.btn-outline-primary.btn-sm.dropdown-toggle {
  background-color: white;
}

.dropdown-menu.show {
  transform: translate3d(0px, 10px, 0px);
}

.btn {
  width: 5em;
}

.btn:hover {
  background-color: rgb(234, 129, 49);
  border-color: white;
  color: white;
}
